<div [@routerTransition]>

    <div class="row">
        <div class="col-lg-12">
            <h4>Usuarios</h4>
            <Table id="users">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Jose Martinez</td>
                        <td>jmartinez@gmail.com</td>
                        <td>jmartinez</td>
                    </tr>
                    <tr>
                        <td>Jose Martinez</td>
                        <td>jmartinez@gmail.com</td>
                        <td>jmartinez</td>
                    </tr>
                    <tr>
                        <td>Jose Martinez</td>
                        <td>jmartinez@gmail.com</td>
                        <td>jmartinez</td>
                    </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </Table>
        </div>
    </div>
    <!-- /.row -->
</div>
