<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a routerLink="/departamentos" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-folder"></i>&nbsp;{{ 'Departamentos' | translate }}
        </a>
        <a routerLink="/tiposActivos" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-pencil"></i>&nbsp;{{ 'Tipos de Activos' | translate }}
        </a>
        <a routerLink="/empleados" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user"></i>&nbsp;{{ 'Empleados' | translate }}
        </a>
        <a routerLink="/activos" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-money"></i>&nbsp;{{ 'Activos Fijos' | translate }}
        </a>
        <a routerLink="/calculoDepreciacion" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-calculator"></i>&nbsp;{{ 'Calculo Depreciacion' | translate }}
        </a>
        <a routerLink="/asientosContables" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-line-chart"></i>&nbsp;{{ 'Asientos Contables' | translate }}
        </a>
    </ul>
</nav>
