<div class="panel panel-default" [@routerTransition]>
  <div class="panel-heading">
    <div class="row" style="padding: 5px;">
      <div class="col-md-9">Lista de Departamentos</div>
      <div class="col-md-3">
        <button class="btn btn-success" style="float: right;" (click)="agregar()" >Agregar Departamento</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Descripcion</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let depart of departamentos">
          <td>{{ depart.Id }}</td>
          <td>{{ depart.Descripcion }}</td>
          <td>{{ depart.Estado ? "Activo" : "Inactivo" }}</td>
          <td class="text-center">
            <button class="btn btn-primary" (click)="editar(depart.Id)" >Editar</button>
            <button class="btn btn-danger" (click)="eliminar(depart.Id)">Eliminar</button>
          </td>
        </tr> 
      </tbody>
    </table>
  </div>
</div>