<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row" style="padding: 5px;">
      <div class="col-md-9">Lista de Departamentos</div>
      <div class="col-md-3">
        <button class="btn btn-success" style="float: right;">Agregar Departamento</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Descripcion</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button class="btn btn-primary">Editar</button>
            <button class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>