<div [@routerTransition]>
    <h2 class="text-muted">Dashboard</h2>
    <hr>
    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <app-stat [bgClass]="'card-primary'" [icon]="'fa-comments'" [count]="26" [label]="'Departamentos'" ></app-stat>
        </div>
        <div class="col-xl-4 col-lg-6">
            <app-stat [bgClass]="'card-info'" [icon]="'fa-tasks'" [count]="12" [label]="'Empleados'" ></app-stat>
        </div>
        <div class="col-xl-4 col-lg-6">
            <app-stat [bgClass]="'card-success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'Activos Fijos'" ></app-stat>
        </div>
    </div>
</div>
